/**changing the values from px to % works to make slideshow responsive**/
#slideshow {
  overflow: hidden;
  height: auto;
  max-width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 400%;
  -webkit-animation: slide 18s ease;
}

.slide {
  float: left;
  height: 50%;
  width: 25%;
}

/**animation css**/
@-webkit-keyframes slide {
  20% {margin-left: 0%;}
  30% {margin-left: -100%;}
  50% {margin-left: -100%;}
  60% {margin-left: -200%;}
  70% {margin-left: -200%;}
  80% {margin-left: -300%;}
  90% {margin-left: -300%;}
}